<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>WebStack</title>

      <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>   
  
</head>
<body>
	<div class="container">		
		Hello Radhe Krishna...!Welcome...!
		<p class="alert alert-info">
			<a href="/sales">Manage Sales</a>
		</p>
	</div>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>