<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	</head>
	<div align="center">
		
		<h1>Manage Sales</h1>
		<a href="/new">Enter New Sales</a>	
		<u><h2 style="color: red;">
            <a onclick="document.forms['logoutForm'].submit()">Logout</a>
            </h3>
        </u>
		<form id="logoutForm" method="POST" action="/logout">
    	</form>
				
		<table class="table table-bordered bg-dark text-info">
			<tr>
				<th>Id</th>
				<th>Item Name</th>
				<th>Quantity</th>
				<th>Amount</th>	
				<th>Action</th>		
			</tr>
			<tr th:each="sale : ${salesList}">
				<td th:text="${sale.id}"></td>
				<td th:text="${sale.itemName}"></td>
				<td th:text="${sale.quantity}"></td>
				<td th:text="${sale.amount}"></td>
				<td>
					<a th:href="@{'/edit/' + ${sale.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${sale.id}}">Delete</a>
				</td>			
			</tr>
		</table>

	</div>

</html>
